<body>

  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li class="active"><a href="#">Home</a></li>
        <!--
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>-->
      </ul>
      <h3 class="text-muted">Coinking.me</h3>
    </div>

    <div class="jumbotron">
      <h4>The coinking now is:</h4>
      <h1><%=data.kings[0].name%></h1>
      <h4>The king words:</h4>
      <p class="lead"><%=data.kings[0].words%></p>
      <hr>
      <p><a class="btn btn-lg btn-success" href="#" id="pay" role="button">I want to be the King! <%=data.currentPrice%> BTC</a></p>
    </div>

    <div class="row marketing">
      <h3>Former majesties:</h3>
      <div class="col-lg-6">
        <%_.each(_.rest(data.kings),function(king) {%>
        <h4><%=king.name%></h4>
        <p><%=king.words%></p>
        <%})%>
        
      </div>


    </div>
    <div class="modal-container"></div>
    <div class="footer">
      <p>&copy; Coinking 2014</p>
    </div>

  </div> <!-- /container -->
